<div class="container">
	<div class="row">
		<div class="col-md-6">
			<H1>Twitch Search</H1>
			<div class="input-group col-md-12">
				<input id="twitch-search" type="text" class="form-control input-lg" placeholder="Search streams" />
				<span class="input-group-btn">
					<button class="btn btn-lg" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>