<div class="container">
	<div class="row">
		<div class="col-md-6">
			<H1>Twitch Search</H1>
			<div class="input-group col-md-12">
				{{search-bar}}
				<span class="input-group-btn">
					<button class="btn btn-lg" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>